# dots alias
alias dots='/usr/bin/env git --git-dir=${XDG_DATA_HOME:-$HOME/.local/share}/dotfiles/ --work-tree=$HOME'

# git aliases
alias nah='git checkout . && git clean -df'
alias grm='git branch -d $(git branch --merged | fzf --multi --reverse)'
alias gpoh='git push -u origin HEAD'

# docker-compose aliases
alias dc='docker compose'

# vim-like hacks
alias :q='exit'
alias :e='vim'

# other stuff
alias path='echo -e ${PATH//:/\\n}'

# php_tools=('phpbench' 'phpcs' 'phpstan' 'phpunit' 'sail')
# for tool in "${php_tools[@]}"; do
#   alias $tool="sh $([ -f $tool ] && echo $tool || echo vendor/bin/$tool)"
# done
